*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    height: 100vh;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; 
}

.fundo-pagina {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: brightness(0.7);
}

.carrousel img {
    width: 100%;
    height: 100vh; 
    object-fit: cover;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.banner-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px;
}
main .banner-principal h1{
    margin-bottom: 10px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
main .banner-principal button{
    margin-top: 20px;
    width: 100%;
    padding:20px 0;
    border-radius: 10px;
    background-color: crimson;
    color: #fff;
    border: none;
    width: 70%;
}
main .banner-principal button:hover{
    cursor: pointer;
    background-color: darkred;
}

@media screen and (min-width: 764px) and (max-width: 1023px){
    main .banner-principal h1{
        font-size: 3em;
    }
    main .banner-principal button{
        width: 70%;
    }
}
@media screen and (min-width: 1024px){
    main .banner-principal h1{
        font-size: 5em;
    }
    main .banner-principal button{
        width: 60%;
    }
}
